@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .menu-item{
    @apply inline-block p-3 hover:bg-slate-200 transition-all hover:text-slate-800;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
